.landing-wrap {
  width: 100%;
  height: auto;
  max-height: 100%;
  padding: 0 10px;
  color: #8f8f8f;
  font-weight: bold;


}


/* Animation */

.typing-text-wrap {
  display: flex;
  flex-direction: column;
  overflow: hidden;

}

.typing-text {
  position: relative;
  width: 0;
  height: 30px;
  overflow: hidden;
  animation: animated-text 2s steps(30, end);
  white-space: nowrap;
  animation-fill-mode: both;

  @media screen and (max-width: 769px) {
    font-size: 13px;
  }

  @for $i from 1 through 6 {
    &:nth-child(#{$i}) {
      animation-delay: 1.5s *$i;
    }
  }
}

@keyframes animated-text {

  0% {
    width: 0;
  }

  100% {
    width: 480px;
  }
}


.user-type-content-wrap {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  @media screen and (max-width: 769px) {
    margin-top: 0;
  }

}

.input-wrap {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 10px;
  gap: 10px;
}

.terminal-input {
  flex: 1;
  border: none;
  outline: none;
  background: #1e1e1e;
  color: #8f8f8f;
  font-size: 16px;
  font-weight: bold;

  @media screen and (max-width: 769px) {
    font-size: 13px;
  }
}

.highlight-color {
  color: #6677f2;

  @media screen and (max-width: 769px) {
    font-size: 13px;
  }
}


.user-type-content {
  margin-top: 10px;

  @media screen and (max-width: 769px) {
    font-size: 13px;
  }
}
